<div class="header">
    <img src="/webdata/jko.png" alt="logo" width="164" height="44">
    <a href="regis"> Overzicht</a>
    <a href="Index"> index</a> 
    <a href="reserv"> reserveer</a>
    <a href="Regis"> registreer</a> 
</div>
