<div class="header">
    <img src="/webdata/jko.png" alt="logo" width="164" height="44">
    <a href="/home/regis"> Overzicht</a>
    <a href="/home/Index"> index</a> 
    <a href="/home/reserv"> reserveer</a>
    <a href="/home/Regis"> registreer</a> 
</div>
