
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hello world !
        <span> <a href="Reserv">reserveer</a> <a href="Regis">registreer</a> </span>
    </div>


<%-- any content can be specified here e.g.: --%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page pageEncoding="UTF-8" %>
<div class="header">
    <img src="/lab1-war/jko.png" alt="logo" width="164" height="44">
    <a href="<c:url value='/overzicht.jsp' />"> Overzicht</a>
    <a href="<c:url value='/index.jsp' />"> index</a> 
    <a href="<c:url value='/reserveer.jsp' />"> RESEVEER</a>
    <a href="<c:url value='/userPage.jsp' />"> USER</a> 



</div>



<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/lab1-war/style.css">

