<!DOCTYPE html>

<html>
<head>
    @RenderPage("BasePageInclude.cshtml")
    <title>404</title>
</head>
<body>
    @RenderPage("BasePageHeader.cshtml")
    <h1>E404</h1>

    @RenderPage("BasePagefooter.cshtml")
</body>
</html>