<!DOCTYPE html>
<html>
<head>
    @RenderPage("BasePageInclude.cshtml")
    <title>Reserveer</title>
</head>
<body>
    @RenderPage("BasePageHeader.cshtml")

    <a href="<c:url value='/userPage.jsp' />"><h3> Registreer</h3></a>
    <form method="post" action="/Home/Index">
        <input name="klantid" type="number" />
        <input name="ORIGIN" type="text" value="LOGIN" hidden="True">
        <input type="submit" />


    </form>

    @RenderPage("BasePagefooter.cshtml")
</body>
</html>