<!DOCTYPE html>

<html>
<head>
    @RenderPage("BasePageInclude.cshtml")
    <title>Registreer</title>
</head>
<body>
    @RenderPage("BasePageHeader.cshtml")
        

    @RenderPage("BasePagefooter.cshtml")
</body>
</html>