<!DOCTYPE html>

<html>
<head>
    @RenderPage("BasePageInclude.cshtml")
    <title>Registreer</title>
</head>
<body>
    @RenderPage("BasePageHeader.cshtml")
    <form method="post" action="/home/Reserv">

        <p class="w-20">duur:<input name="POST" type="number" /></p>
        <p class="w-20">duur:<input name="GEMN" type="number" /></p>
        <p class="w-20">duur:<input name="POST" type="number" /></p>
        <p class="w-20">duur:<input name="POST" type="number" /></p>

        <input type="submit" />


    </form>

    @RenderPage("BasePagefooter.cshtml")
</body>
</html>